/* ESTILOS GENERALES */
html, body {
	height: 100%
  }
  body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.09rem
  }
  /* Modificar el modelo de cajas de CSS */
  html {
	-webkit-box-sizing: border-box;
			box-sizing: border-box
  }
  *, *::before, *::after {
	-webkit-box-sizing: inherit;
			box-sizing: inherit
  }
  /* Resetear márgenes y padding */
  * {
	margin: 0;
	padding: 0
  }
  /* Centrar elementos en pantalla */
  .container {
	width: 90%;
	max-width: 1366px;
	margin: 0 auto
  }
	
.gallery {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
	grid-gap: 2em;
	padding: 2em;
	pointer-events: none;
  
	img {
	  display: block;
	  width: 100%;
	  border-radius: .25em;
	  -webkit-transition: 250ms 50ms;
	  -o-transition: 250ms 50ms;
	  transition: 250ms 50ms;
	  pointer-events: auto;
	  cursor: pointer;
	  height: 300px;
	}
	
	&:hover img:not(:hover) {
	  -webkit-filter: saturate(.2) opacity(.5);
	          filter: saturate(.2) opacity(.5);
	}
  }
  
  #modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal-content {
	position: relative;
	margin: 6% auto;
	width: 80%;
	max-width: 800px; /* Ajustar el ancho máximo */
  }
  
  .modal-image {
	display: block;
	width: 100%; /* Hacer que la imagen ocupe todo el ancho del modal */
	max-height: 70vh; /* Establecer la altura máxima de la imagen */
	margin: 0 auto;
  }
  
  .modal-description {
	text-align: center;
	color: white;
	margin-top: 10px;
  }
  
  .modal-prev, .modal-next {
	font-size: 2em;
	color: white;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	cursor: pointer;
  }
  
  .modal-prev {
	left: -50px;
  }
  
  .modal-next {
	right: -50px;
  }
  
  .modal-close {
	font-size: 2em;
	color: white;
	position: absolute;
	top: -46px;
	right: -6px;
	cursor: pointer;
}

.downloadShareButtons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	color: #fff;
	margin: 26px 0;
}

.social-buttons span {
	font-size: 0.8rem;
}

.social-buttons a {
	color: #fff;
	font-size: 1.4rem;
	padding: 0 0.3em;
}

#downloadImageBtn {
	background-color: green;
	border: none;
	color: #fff;
	padding: 8px 1em;
	font-size: 0.9rem;
	border-radius: 8px;
	cursor: pointer;
}
#loadMoreBtn {
	background-color: #0d66d8;
	color: #fff;
	border: none;
	padding: 12px 1em;
	margin: 0 auto 80px;
	font-size: 1.2rem;
	width: 300px;
	display: block;
	cursor: pointer;
}

@media screen and (max-width:800px) {
	.modal-content {
		position: relative;
		margin: 20% auto;
	}
	img {
		max-width: 300px;
		max-height: 250px;
		margin: 12px auto;
	}
	
	.modal-prev {
		left: 0px;
		position: absolute;
	  }
	  
	  .modal-next {
		right: 0px;
		position: absolute;
	  }
}